body{
    color: #000;
    background-color: #aaa;
}

label{
    &:after{
        content: ": ";
    }
    .above{
        display: block;
    }
}
#unproc-container{
    display: inline-block;
    width: 40%;
    textarea#unprocessed{
        display: block;
    }
    input[type='file'] {
      width: 95px;
    }
}
#cloud{
    margin-left: 20px;
    display: inline-block;
    border: solid 1px #fff
}
#aesthetics{
    #color-list{
        a{
            cursor: pointer;
            color: #444;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.fwc{
    width: 100%;
    text-align: center;
}