$bg-col: #94B4E4;
$cntr-col: #C6D4E7;
$text-col: #333;
$cntr-margin: 10px;
$cntr-pdg: 10px;

body{
    color: $text-col;
    background-color: $bg-col;
    font-family: "Open Sans", "Sans Serif";
}   

label{
    &:after{
        content: ": ";
    }
    .above{
        display: block;
    }
}
#unproc-container{
    margin: $cntr-margin;
    padding: $cntr-pdg;
    background-color: $cntr-col;
    display: inline-block;
    width: 40%;
    textarea#unprocessed{
        display: block;
    }
    input[type='file'] {
      width: 95px;
    }
}
form{
    display: inline;
}
#cloud{
    margin-left: 20px;
    display: inline-block;
    border: solid 0px transparent;
    padding: 0;
    svg{
        margin: 0;
        padding: 0;
    }
}
#aesthetics{
    margin: $cntr-margin;
    padding: $cntr-pdg;
    background-color: $cntr-col;
    width: 70%;
    #color-list{
        line-height: 1;
        p{
            width: 20%;
            padding: 4px;
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: $bg-col;
        }
        a{
            float: right;
            cursor: pointer;
            color: #444;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.fwc{
    width: 100%;
    text-align: center;
}